*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
} 

body{
    height: 100hv;
    background: #fff;
}
h1 {
    position: relative;
    background: #111111;
    color: #ffffff;
    padding: 15px 70px;
}

.container{
    width: 40%;
    min-width: 450px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 30px 40px;
}
.container h3 {
    background: white;
    position: relative;
    top: 7px;
    border-radius: 5px;
    padding: 10px 5px;

}
#newtask {
    position: relative;
    background-color: #ffffff;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}
#newtask #input-todos {
    width: 70%;
    height: 45px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border: 2px solid #d1d3d4;
    padding: 12px;
    color: #111111; 
    font-weight: 500;
    position: relative;
    border-radius: 5px;
}
#newtask .item-completed {
    width: 70%;
    height: 45px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border: 2px solid #d1d3d4;
    padding: 12px;
    color: #111111; 
    font-weight: 500;
    position: relative;
    border-radius: 5px;
}
#newtask input:focus {
    outline: none;
    border-color: #111111;
}
#newtask button {
    position: relative;
    float: right;
    right: 18px;
    width: 20%;
    height: 35px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding: 10px 10px 30px;
    background-color: #03a9f4;
    border: none;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    bottom: 50px;
}

#newtask button:hover {
    background: #0094d8;
}

#del{
    background-color: #03a9f4;
    color: #ffffff;
    height: 100%;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
    float: right;
    padding: 0 15px;
}
#del:hover {
    background: #0083bf;
}

#push{
    color: #55BB06;
    margin-top: 50px;
    padding: 15px 20px;
    border: 1px solid #fff;
    font-size: 20px;
    font-weight: 400;
}
li{
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    position: relative;
    top: 5px;
    width: 100%;
    margin: 5px;
    border-radius: 5px;
    border-bottom: 1px solid gray;
    padding-top: 2px;
    

}
#tasks {
    background-color: #ffffff;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 15px 30 px rgba(0, 0, 0, 0.3);
    width: 100%;
    position: relative;
}

.checkbox{
    margin-top: 15px;
    margin-right: 20px;
    background-color: #03a9f4;
    color: #ffffff;
    height: 100%;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
    float: right;
    position: relative;
    bottom: 5px;
}
.par{
    max-width: 750px;
    width: 100%;
}
.lined p{
    text-decoration: line-through;
}
#del{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}