<button><a routerLink="/albums/{{this.id}}">Go back</a></button>

<div *ngFor="let albumPhoto of albumPhotos"><img src="{{albumPhoto.url}}" alt=""></div>

<!-- <div *ngFor="let photos of albums"><img src="{{photos.url}}" alt=""></div> -->
<!-- 
<div class="content">
    <button (click)="goBack()" class="back-button">Go Back</button>
    <div class="album-photos">
      <h2>Photos for album #{{albums.id}}</h2>
  
      <ul *ngIf="photos.length" class="photos-list">
        <li *ngFor="let photo of photos" class="photo-entry">
          <span>{{photo.id}}</span>
          <span>{{photo.title}}</span>
          <img src="{{photo.thumbnailUrl}}" width="20px">
        </li>
      </ul>
    </div>
    <p *ngIf="!loaded">Loading album...</p>
  </div> -->